form {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

form input {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	background-color: var(--c-background);
	color: var(--c-text);
	font-size: 1.5rem;
	box-shadow: var(--c-text) 0px 0px 0px 1px inset;
}
