.input {
	background-origin: var(--c-background);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	align-self: start;
}
p {
	margin: 0;
	padding: 0;
	color: var(--c-text-8);
}
b {
	opacity: 1;
	color: var(--c-headline);
}

iframe {
	width: 80vw;
	max-width: 100%;
	background-color: var(--c-text);
	border-radius: 1rem;
	border: none;
	overflow-y: auto;
}

.button {
	background-color: var(--c-background);
	color: var(--c-text);
	border: var(--c-text) 1px solid;
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-size: 1.5rem;
	box-shadow: var(--c-text) 0px 0px 0px 1px inset;
	text-decoration: none;
	color: var(--c-text);
	transition: all 0.2s ease-in-out;
	width: 100%;
	text-align: center;
}

.button:hover {
	background-color: var(--c-text);
	color: var(--c-background);
}
