<!DOCTYPE html>
<html>

	<head>
		<title>Simple Flask App</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="shortcut icon" href="/static/Schild Logo.svg" type="image/x-icon">
	</head>

	<body>
		<div class="content">
			<!-- <img src="/static/Schild Logo.svg" alt="Schild Logo"> -->
			<h1>Enter Text</h1>
			<form method="POST" action="/result">
				<input type="text" name="text_input" placeholder="Enter text" required>
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>

</html>